body {
	font-family: "Helvetica Neue", Times, serif;
	background: #f7f7f7;
	color: black;
}

body > section, article {
	padding: 0 10px;
	margin: 0 auto 120px auto;
	max-width: 900px;
}

article {
	padding: 0px 10% 100px 10%;
	background: #fff;
	border-top: 5px solid transparent;
	border-right: 28px solid transparent;
	border-bottom: 8px solid transparent;
	border-left: 4px solid transparent;
	font-size: 1.17vw;
	font-weight: 300;
	-moz-hyphens: auto;
	hyphens: auto;
}

h1{
	font-size: 3.68vw;
	text-align: center;
}

h2{
	font-size: 2.78vw;
}

h3{
	font-size: 2.08vw;
}

h4{
	font-size: 1.56vw;
}

p, li, ul{
	font-size: 0.88vw;
}

p a{
	font-size: 0.88vw;
}

ul a{
	font-size: 0.88vw;
}

.contact .jesusjimsa{
	margin-right: 500px;
	margin-top: 16px;
}

.logos img{
	width: 100%;
	max-width: 280px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	float: left;
	padding-left: 10px;
	padding-right: 10px;
}

.graphic img{
	width: 100%;
	max-width: 900px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.biographical img{
	width: 100%;
	max-width: 500px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.go_back{
	text-align: center;
	font-weight: normal;
}

.word_frequency img{
	width: 100%;
	max-width: 900px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.doc_graphics img{
	width: 50%;
	max-width: 900px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}